
/* Style menu Supplier Maintenance */

:root {
    --fontsize: 0.85rem;
    --button_width: 120px;
}

.action_button {
    min-width: 120px;
    font-size: var(--fontsize);
}

.action_button:not(:last-child) {
    margin-right: 10px;
}

.action_button-hide {
    display: none;
}

.action > span:not(:last-child) {
    margin-right: 10px;
}

.filter_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    font-size: var(--fontsize);
}

.filter_item > input, .filter_item > select {
    font-size: var(--fontsize);
}

.filter_action {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.filter_button {
    min-width: 120px;
    font-size: var(--fontsize);
}

.filter_button-modifile {
    margin: 11px 0;
}


/* style css for Function Import */

input[type=file]::-webkit-file-upload-button {
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    background: #28a745 linear-gradient(180deg, #48b461, #28a745) repeat-x !important;
    border-radius: 4px;
    cursor: pointer;
}

.box {
    background-color: #ffffff;
    border: 1.8px dashed #dbdde0;
    border-radius: 14px;
    padding: 20px;
}

.box_description {
    max-width: 302px;
    margin: auto;
    font-style: italic;
    font-size: 15px;
    display: block
}

.box_import {
    margin-top: 10px;
}

.note {
}

.note_span {
    color: red;
    font-size: var(--fontsize);
}

.note_desc {
    font-size: var(--fontsize);
    font-style: italic;
    display: inline-block;
}

.note_link {
    color: blue;
    font-size: var(--fontsize);
    margin-left: 5px;
    /*cursor: pointer;*/
    font-style: italic;
    padding: 0;
    border: none;
    background-color: inherit;
}

.box_icon {
    display: block;
    color: #78837b;
    font-size: 40px
}

.fieldSet {
    /*37ad52*/
    border: 1px solid #b9c3c5;
    padding: 10px;
    border-radius: 5px;
}

.fieldSet_legend {
    width: auto;
    border-bottom: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    color: #37ad52;
    font-family: helvetica, arial, sans-serif;
    font-size: 17px;
}


span > input {
    vertical-align: bottom;
    text-align: center;
}

.supplier_form {
    display: none;
}

.supplier_filter {
    display: none;
}

.supplier_import {
    display: none;
}


.grview {
    font-size: var(--fontsize);
}


.grview_ctldelete {
    font-size: var(--fontsize);
}

.grview_header {
    width: 1%;
    white-space: nowrap;
}


.paging {
    display: flex;
    align-items: center;
    font-size: var(--fontsize);
    margin-top: 25px
}

.paging_record {
    width: 60px;
    height: 21px;
}

.form-control {
    height: auto !important;
    font-size: var(--fontsize) !important;
}

.invalid-feedback-mod {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
    margin-left: calc(100% - 66%);
}

@media screen and (max-width:1023px) {
    .filter_action {
        flex-direction: row;
    }

    .filter_button {
        width: 100%;
    }

    .filter_button:first-child {
        margin-right: 10px;
    }
}
