
/* CSS for menu frmPRCompleted */
:root {
    --fontsize: 0.85 rem;
}

.info-list {
    text-align: center;
}

.info-item{
    background-color: antiquewhite;
    border-radius: 6px;
}

.filter {
    margin-top: 30px;
    padding: 20px;
}

.filter-item {
    display: flex;
    align-items: center;
    padding: 5px;
}

.filter-item > span {
    width: 87px;
    text-align: right;
    margin-right: 5px;
    font-weight: 500;
}

.actions {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pr-maint-browse {
    margin-top: 20px;
}

.modal-title--modify{
    padding-left: 5px;
    color: red;
    font-size: 20px;
}

.grid-wrapper {
    max-height: 510px;
    overflow: auto;
}

.table.table-modify > tbody {
    position: relative;
}

.table.table-modify > tbody > tr:first-child {
    position: sticky;
    top: -1px;
    left: 0;
}

.table.table-modify .rowstyle td {
    padding: 3px;
}

.rowperpage-modify {
    justify-content: flex-end;
    margin-bottom: 10px;
}

.button-font-size {
    font-size: var(--fontsize);
}

.fieldSet {
    /*37ad52*/
    border: 1px solid #b9c3c5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:25px;
}

.fieldSet_legend {
    width: auto;
    border-bottom: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    color: #37ad52;
    font-family: helvetica, arial, sans-serif;
    font-size: var(--fontsize);
}

