:root {
    --fontsize: 0.85 rem;
}

.Form__label {
    font-weight: 500;
    text-align: right;
    margin-right: 30px;
}

.Form__button {
    width: 120px;
}


.Form__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left : -7.5px;
}

.Form__action--button {
    margin-left: 15px;
}

.ApprovalLog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.ApprovalLog__label {
    flex-grow: 2;
    text-align: center;
    font-weight: 500;
}

.ApprovalLog__input {
    flex-grow: 3;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0/375rem 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.ApprovalLog__input--bg {
    background-color: #dee2e6;
}

.ApprovalLog__input:focus {
    outline: 0;
}


.prApproval_Condition {
    display: none;
}

.prApproval_DetailView {
    display: none;
}

.grid-wrapper-maint-browse {
    max-height: 430px;
    overflow: auto;
}

.table.table-maint-browse-modify > tbody {
    position: relative;
}

.table.table-maint-browse-modify > tbody > tr:first-child {
    position: sticky;
    top: -1px;
    left: 0;
}

.table.table-maint-browse-modify .rowstyle td {
    padding: 3px;
}

.rowperpage-modify {
    justify-content: flex-end;
    margin-bottom: 10px;
}


.grid-wrapper-detail-browse {
    max-height: 260px;
    overflow: auto;
}

.table.table-modify-detail-browse > tbody {
    position: relative;
}

.table.table-modify-detail-browse > tbody > tr:first-child {
    position: sticky;
    top: -1px;
    left: 0;
}

.table.table-modify-detail-browse .rowstyle td {
    padding: 3px;
}

.table.table-history-browse-modify .rowstyle td {
    padding: 3px;
}

.button-font-size {
    font-size: var(--fontsize);
}

.fieldSet {
    /*37ad52*/
    border: 1px solid #b9c3c5;
    padding: 10px;
    border-radius: 5px;
    margin-bottom:25px;
}

.fieldSet_legend {
    width: auto;
    border-bottom: none;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 0;
    color: #37ad52;
    font-family: helvetica, arial, sans-serif;
    font-size: var(--fontsize);
}

.actions {
    margin-top:15px;
    display: flex;
    justify-content:flex-end;
    align-items:center;
}

@media screen and (max-width: 766px) {
    .Form__action {
        justify-content: flex-start;
    }

    .Form__button {
        width: 100%;
    }
}